// visibility class
$visibility-class: makeiteasy-back-to-top-visible;

.wp-block-makeiteasy-back-to-top {
	visibility: hidden;
	opacity: 0;
	transition: visibility var(--makeiteasy-back-to-top-visibility-transition-duration, 0.3s), opacity var(--makeiteasy-back-to-top-visibility-transition-duration, 0.3s);
	position: fixed;
	bottom: var(--makeiteasy-back-to-top-bottom, 30px);
	right: var(--makeiteasy-back-to-top-right, 30px);
	z-index: 10000;

	&.wp-block-makeiteasy-back-to-top {
		min-width: 0;
	}

	&.#{$visibility-class} {
		visibility: visible;
		opacity: var(--makeiteasy-back-to-top-opacity, 0.75);
	}

	.wp-block-button__link {
		line-height: 1;
		padding: calc(0.667em + 2px) calc(0.7em + 2px);
		display: block;
		img {
			display: block;
		}
	}

	transform: rotateX(0deg);
	transition: transform 0.3s;

	// if go to bottom option is enabled
	&.makeiteasy-back-to-top-down {
		transform: rotateX(180deg);
	}
}